*.iml
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/iosApp.xcworkspace/*
iosApp/iosApp.xcodeproj/*
!iosApp/iosApp.xcodeproj/project.pbxproj
/shared/build
shared/build/bin/iosSimulatorArm64/debugFramework/shared.framework/shared